@{
    ViewData["Title"] = "Home Page";
}
@section Styles{ 
    <style>
        .text-center{
           /* border:2px solid red;*/
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<input type="button" id="btn1" value="Click" class="btn btn-danger" />*@
@section Scripts{ 
    <script>
        $("#btn1").click(function () {
        /*$(".display-4").css("background-color", "aquamarine");*/

            var emp = {
                "employees": [
                    { "name": "Tom", "workYears": 3, "salary": 35000 },
                    { "name": "Jack", "workYears": 5, "salary": 40000 },
                    { "name": "Mary", "workYears": 7, "salary": 45000 }
                ]
            };

            //for (let i = 0; i < emp.employees.length; i++) {
            //    console.log(emp.employees[i].name);
            //    console.log(emp.employees[i].workYears);
            //    console.log(emp.employees[i].salary);
            //}
            //for (let e of emp.employees) {
            //    console.log(e.name);
            //    console.log(e.workYears);
            //    console.log(e.salary);
            //}

           
            console.log("人生五十年");
            console.log("與天地長久相較");
            console.log("如夢又似幻");
            console.log("一度得生者");
            console.log("豈有不滅者乎");
            console.log("i love polarbear");
           

        })
    </script>
}